<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <!-- build:js(app) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <header class="page__header">
        <div class="header-wrapper">
            <h1>Joel Herron</h1>
            <h2>Web &amp; Mobile Designer/Developer</h2>
        </div>
    </header>
    <nav class="nav site-nav">
        <a href="/">about</a>
        <a href="/#blog">blog</a>
        <a href="/#projects">projects</a>
    </nav>

    {{ content }}

    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
