/*--------------------------------*\
	$PAGE
\*--------------------------------*/
html{
	font-family:$brand-face;
	color:#333;
	background-color:#dedede;
}

body{
	padding-left: 0;
}

.head-wrapper{
	background-color:#333;
	@extend .cf;
	@extend .landmark;
}

.content-wrapper{
	max-width:1100px;
	margin:0 auto;
	padding-left:$base-spacing-unit;
	padding-right:$base-spacing-unit;

	@include media-query(portable) {
		padding-left:$half-spacing-unit;
		padding-right:$half-spacing-unit;
		padding-bottom:0;
	}
}