/*------------------------------------*\
    $PAGE-HEAD
\*------------------------------------*/

.page-head{
	max-width:1100px;
	margin:0 auto;
	padding: $half-spacing-unit $base-spacing-unit;

	@include media-query(portable){
		padding: $half-spacing-unit;
		text-align: center;
	}
}

/**
 * Site Logo
 * A. Change cusor to make homepage appear unclickable 
 */
.site-logo{
	float: left;
	@include media-query(portable){
		float:none;
	}

	> img{
		@include border-radius($brand-round);
	}


	.site--home &{
		cursor: default; /* {A} */
	}
}