/*------------------------------------*\
    $POSTS
\*------------------------------------*/
.posts{}

.post-list{
	@extend .block-list;
	border-top:none;
}

.post{
	max-width: 800px;
	margin: 0 auto;
	padding: $base-spacing-unit;
}

.post__title{
	margin-bottom:0;
	color: $brand-color;
}

.post__date{
	display:block;
	@include font-size(13px);
}

.post__meta{
	padding-left:$half-spacing-unit;
	color:#666;
}

.post__excerpt{
	display:block;
}