.projects{
	list-style:none;
	margin-left:0;
}

.project{
	height:250px;
	width:210px;
	margin-bottom:$base-spacing-unit;
	margin-left:$half-spacing-unit;
	margin-right:$half-spacing-unit;
	padding:$half-spacing-unit;
	float:left;
	position:relative;
	background-color:#fff;
	@include single-box-shadow(rgba(0, 0, 0, 0.2), 0, 0, 5px, 1px);

	@include media-query(palm){
		width:90%;
		height:200px;
	}

	h3{
		color: $brand-color;
	}

	a{
		width:100%;
		height: 100%;
		display:block;
		text-decoration:none;
	}

	&:after{
		content:"";
		position:absolute;
		right:0;
		bottom:0;
		width:0;
		height:0;
		border-left:50px solid transparent;
		border-top:50px solid transparent;
		border-right:50px solid $brand-color;
	}

}

.project--python:after{
	border-right:50px solid $brand-color;
}

.project--php:after{
	border-right:50px solid #9999cc;
}

.project--csharp:after{
	border-right:50px solid #9999cc;
}

.project--javascript:after{
	border-right:50px solid #000;
}

.project--scss:after{
	border-right:50px solid #ce4dd6;
}

.project--ruby:after{
	border-right:50px solid #c61a1a;
}

.project__title{
	margin-bottom:0;
}

.project__description{
	display:block;
	padding-top:$base-spacing-unit * 2;

	&{
		color:#333;
	}
}

.project__lang{
	display:block;
	@include font-size(12px);

	&{
		color:#666;
	}
}