<section class="page__projects" id="projects">
	<h2>Projects</h2>
	<ol class="projects">
		<li class="project project--csharp">
			<a href="https://github.com/h3r2on/ingeniux-components">
				<h3 class="project__title">Ingeniux Components</h3>
				<span class="project__lang">.Net MVC</span>
				<span class="project__description">A collection of components for the Ingeniux CMS</span>
			</a>
		</li>
		<li class="project project--php">
			<a href="https://github.com/h3r2on/Titanium-Cloud">
				<h3 class="project__title">Titanium Cloud</h3>
				<span class="project__lang">PHP</span>
				<span class="project__description">A CodeIgniter library for the Appcelerator/Titanium Cloud</span>
			</a>
		</li>
		<li class="project project--scss">
			<a href="https://github.com/h3r2on/vanilla">
				<h3 class="project__title">Vanilla</h3>
				<span class="project__lang">HTML5/SCSS</span>
				<span class="project__description">A starting point for front-end development</span>
			</a>
		</li>
		<li class="project project--python">
			<a href="https://github.com/h3r2on/imgout">
				<h3 class="project__title">ImgOut</h3>
				<span class="project__lang">Python</span>
				<span class="project__description">A Python utility to export images from a SQLite database.</span>
			</a>
		</li>
		<li class="project project--php">
			<a href="http://h3r2on.github.com/wp-magazine-control/">
				<h3 class="project__title">WP Magazine Control</h3>
				<span class="project__lang">PHP</span>
				<span class="project__description">A Wordpress plugin to manage content versioning.<span>
			</a>
		</li>
		<li class="project project--ruby">
			<a href="https://github.com/h3r2on/dotfiles">
				<h3 class="project__title">Dotfiles</h3>
				<span class="project__lang">Ruby/Bash</span>
				<span class="project__description">.files, Sensible defaults for OS X</span>
			</a>
		</li>
		<li class="project project--scss">
			<a href="https://github.com/h3r2on/h3r2on.github.com">
				<h3 class="project__title">h3r2on.com</h3>
				<span class="project__lang">HTML5/SCSS</span>
				<span class="project__description">This site.</span>
			</a>
		</li>
	</ol>
</section>