<section class="page page--skills" id="skills">
	<div class="content-wrapper">
		<h2>Skills &amp; Technologies</h2>
		<div class="gw">
		<div class="g one-half">
			<h3>Languages</h3>
			<p>CSS/SASS, HTML, Javascript, PHP, SQL, Ruby, Python, C#, Objective-C, Java</p>
		</div>
		<div class="g one-half">
			<h3>Frameworks &amp; SDKs</h3>
			<p>Bootstrap, Zurb Foundation, CodeIgniter, Appcelerator Titanium, Alloy, Laravel, Android SDK, iOS SDK, Ruby on Rails, Django, .Net MVC</p>
		</div>
	</div>
</section>